<?xml version="1.0" encoding="utf-8"?>
<!-- SUP-10: limpa fontes herdadas (maquina/usuario) e restringe a resolucao
     de pacotes a uma unica fonte publica, mapeada explicitamente. -->
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
